### CATBOOST Model with CatBoostEncoder

In [75]:
import pandas as pd
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import r2_score
# import category_encoders as ce
# from catboost import CatBoostRegressor    # For regression tasks use CatBoostRegressor, for classification use CatBoostClassifier
# from sklearn.pipeline import Pipeline
# from sklearn.compose import ColumnTransformer
# from sklearn.preprocessing import StandardScaler
# from sklearn.metrics import mean_squared_error  # For regression tasks
import pickle
import os
from dotenv import load_dotenv
import pyodbc

In [76]:
# # import dataset
# df = pd.read_csv('dataset_gold.csv')

In [77]:
# Load environment variables
load_dotenv()
username = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
server = os.getenv('DB_SERVER')
database = os.getenv('DB_name')
DB_Driver = os.getenv('DB_Driver')

# Établir la connexion à votre base de données
connection_string = f'Driver={DB_Driver};Server=tcp:{server},1433;Database={database};Uid={username};Pwd={password};Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;'
conn = pyodbc.connect(connection_string)

cursor = conn.cursor()

query = "SELECT * FROM [dbo].[dataset_model]"

df = pd.read_sql(query, conn)

# Fermer la connexion après utilisation
conn.close()

/tmp/ipykernel_13210/415462830.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

DatabaseError: Execution failed on sql 'SELECT * FROM [dbo].[dataset_model]': ('42S02', "[42S02] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Invalid object name 'dbo.dataset_model'. (208) (SQLExecDirectW)")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3488 entries, 0 to 3487
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                3488 non-null   int64
 1   titre             3488 non-null   object
 2   genre             3488 non-null   object
 3   duree             3488 non-null   object
 4   realisateur       3488 non-null   object
 5   distributeur      3488 non-null   object
 6   acteurs           0 non-null      object
 7   nationalites      3488 non-null   object
 8   langue_d_origine  3488 non-null   object
 9   type_film         3488 non-null   object
 10  annee_production  3488 non-null   object
 11  nombre_article    3488 non-null   object
 12  description       3488 non-null   object
 13  film_id_allocine  3488 non-null   object
 14  image             3488 non-null   object
 15  boxoffice         3488 non-null   object
dtypes: int64(1), object(15)
memory usage: 436.1+ KB

In [ ]:
# X = df.drop(['boxoffice','titre','date','acteurs','awards','box_office_total',
#         'description','nominations','note_presse','note_spectateurs', 'nombre_article','genres'], axis=1)
# y = df['boxoffice']
# X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, shuffle=True, random_state=42)

In [ ]:
# # Identifier les caractéristiques catégorielles
# categorical_features = ['distributeur','réalisateur', 'nationalités', 'langue_d_origine','type_film','acteurs_connus']

# # Sélectionner automatiquement les caractéristiques numériques en filtrant les colonnes du DataFrame X
# numerical_features = X.select_dtypes(include=['int64', 'float64']).columns.tolist()

# cbe_encoder = ce.cat_boost.CatBoostEncoder()

# # Créer un pipeline pour les prétraitements
# preprocessor = ColumnTransformer(
#     transformers=[
#         ('num', StandardScaler(), numerical_features),
#         ('cat', cbe_encoder, categorical_features)
#     ])

# # Créer le modèle CatBoost
# model = CatBoostRegressor(iterations=200, depth=6, learning_rate=0.05, loss_function='RMSE')

# # Créer le pipeline
# pipeline = Pipeline([
#         ('preprocessor', preprocessor), 
#         ('model', model)
# ])

# # Entraîner le modèle sur les données d'entraînement
# pipeline.fit(X_train, y_train)

# # Faire des prédictions sur les données de test
# y_pred = pipeline.predict(X_test)

# y_pred_train = pipeline.predict(X_train)

# # print(pipeline.get_best_score())

# print("######## R-squared (R2) : ")
# print("TRAIN :", r2_score(y_train, y_pred_train))
# print("TEST :", r2_score(y_test, y_pred))

# # Évaluer les performances du modèle (par exemple, RMSE pour la régression)
# from sklearn.metrics import mean_squared_error
# rmse = mean_squared_error(y_test, y_pred, squared=False)
# print("Root Mean Squared Error (RMSE):", rmse)

In [ ]:
# # Pour exporter le modèle CatBoost vers un fichier pickle
# with open('../Modeling/best_model.pkl', 'wb') as f:
#     pickle.dump(pipeline, f)

In [ ]:
# # Charger le modèle à partir du fichier pickle
# with open('chemin/vers/votre/modele_catboost.pkl', 'rb') as f:
#     loaded_model = pickle.load(f)

# # Maintenant, vous pouvez utiliser loaded_model pour faire des prédictions
# y_pred_loaded = loaded_model.predict(X_test)