In [1]:
import pandas as pd
from ydata_profiling import ProfileReport
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../scrap_allocine/dataset/dataset_bronze.csv')

In [7]:
# set the maximum number of columns to be displayed to None
pd.set_option("display.max_columns", None)
df.head(5)

,titre,date,genre,durée,réalisateur,distributeur,acteurs,titre_original,nationalités,langue_d_origine,type_film,annee_production,budget,box_office_total,note_presse,note_spectateurs,nombre_article,recompenses,description,boxoffice
0,Les Vengeances de Maître Poutifard,28/06/2023,Famille,90.0,Pierre-François Martin-Laval,UGC Distribution,"Christian Clavier,Isabelle Nanty,Jennie-Anne W...",NaN,"France,Belgique",Français,Long-métrage,2023,-,360 119 entrées,"2,0","2,1",5 articles de presse,NaN,"Instituteur à la retraite, Robert Poutifard n'...",180 735
1,Le Challenge,21/06/2023,NaN,103.0,Gene Stupnitsky,Sony Pictures Releasing France,"Jennifer Lawrence,Andrew Barth Feldman,Laura B...",No Hard Feelings,NaN,Anglais,Long-métrage,2023,-,116 813 entrées,"3,0","3,1",5 articles de presse,NaN,Maddie est sur le point de perdre sa maison d’...,54 361
2,La Petite sirène,24/05/2023,"Famille,Fantastique",136.0,Rob Marshall,The Walt Disney Company France,"Halle Bailey,Cerise Calixte,Jonah Hauer-King",The Little Mermaid,NaN,Anglais,Long-métrage,2023,-,1 688 076 entrées,"2,5","2,3",20 articles de presse,NaN,"Les années 1830, dans les eaux d'une île ficti...",582 814
3,Un homme idéal,18/03/2015,NaN,97.0,Yann Gozlan,Mars Films,"Pierre Niney,Ana Girardot,André Marcon",NaN,NaN,Français,Long-métrage,2014,-,666 835 entrées,"3,2","3,8",24 articles de presse,NaN,"Mathieu, 25 ans, aspire depuis toujours à deve...",337 525
4,Mission : Impossible - Protocole fantôme,14/12/2011,"Espionnage,Thriller",133.0,Brad Bird,Paramount Pictures France,"Tom Cruise,Jeremy Renner,Simon Pegg",Mission: Impossible - Ghost Protocol,NaN,Anglais,Long-métrage,2011,140 000 000 $,2 414 279 entrées,"3,9","3,8",26 articles de presse,3 nominations,Impliquée dans l'attentat terroriste du Kremli...,827 046

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4913 entries, 0 to 4912
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             4913 non-null   object
 1   date              4608 non-null   object
 2   genre             3148 non-null   object
 3   durée             4906 non-null   float64
 4   réalisateur       4913 non-null   object
 5   distributeur      4786 non-null   object
 6   acteurs           4891 non-null   object
 7   titre_original    1998 non-null   object
 8   nationalités      1361 non-null   object
 9   langue_d_origine  4913 non-null   object
 10  type_film         4913 non-null   object
 11  annee_production  4913 non-null   int64
 12  budget            4913 non-null   object
 13  box_office_total  4357 non-null   object
 14  note_presse       4910 non-null   object
 15  note_spectateurs  4583 non-null   object
 16  nombre_article    4898 non-null   object
 17  recompenses       2418 non-null   object
 18  description       4395 non-null   object
 19  boxoffice         4913 non-null   object
dtypes: float64(1), int64(1), object(18)
memory usage: 767.8+ KB

In [5]:
df.describe()

             durée  annee_production
count  4906.000000       4913.000000
mean    107.710355       2012.363932
std      19.438643          8.738386
min      26.000000       1933.000000
25%      95.000000       2008.000000
50%     105.000000       2014.000000
75%     118.000000       2018.000000
max     327.000000       2023.000000

In [6]:
profile = ProfileReport(df, title="Profiling Report")
profile.to_file('films.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]