# Merging the datasets

In [129]:
import pandas as pd

## Import CSV

In [130]:
boxoffice_tous= pd.read_csv('boxoffice_test2.csv', dtype={'boxoffice_2': pd.Int64Dtype()})
# boxoffice_tous_bis= pd.read_csv('boxoffice_tous_bis.csv')
# boxoffice_top = pd.read_csv('boxoffice_top.csv')
# boxoffice_topboxofficefr = pd.read_csv('boxoffice_topboxofficefr.csv')

# merged_boxoffice = pd.concat([boxoffice_tous, boxoffice_top, boxoffice_topboxofficefr, boxoffice_tous_bis])

merged_boxoffice = boxoffice_tous

In [131]:
movies_tous = pd.read_csv('movies_test.csv')
# movies_top = pd.read_csv('movies_top.csv')
# movies_topboxofficefr = pd.read_csv('movies_topboxofficefr.csv')

# merged_movies = pd.concat([movies_tous, movies_top, movies_topboxofficefr])

merged_movies = movies_tous

## Boxoffice dataset

In [132]:
merged_boxoffice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10065 entries, 0 to 10064
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   titre          10065 non-null  object
 1   fin_semaine_1  10065 non-null  object
 2   boxoffice_1    10065 non-null  int64
 3   boxoffice_2    9366 non-null   Int64
 4   film_id        10065 non-null  int64
dtypes: Int64(1), int64(2), object(2)
memory usage: 403.1+ KB

### Supprimer les doublons

In [133]:
merged_boxoffice = merged_boxoffice.drop_duplicates()

In [134]:
merged_boxoffice.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10065 entries, 0 to 10064
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   titre          10065 non-null  object
 1   fin_semaine_1  10065 non-null  object
 2   boxoffice_1    10065 non-null  int64
 3   boxoffice_2    9366 non-null   Int64
 4   film_id        10065 non-null  int64
dtypes: Int64(1), int64(2), object(2)
memory usage: 481.6+ KB

In [135]:
merged_boxoffice.head(5)

,titre,fin_semaine_1,boxoffice_1,boxoffice_2,film_id
0,Oppenheimer,24/07/2023,80500000,<NA>,296168
1,Sans filtre,05/10/2022,179786,105276,256851
2,Erreur de la banque en votre faveur,15/04/2009,304692,176540,133826
3,Mission : Impossible - Protocole fantôme,21/12/2011,827046,559265,147454
4,Le Bleu du Caftan,29/03/2023,54381,41365,297895

### Supprimer les lignes avec le boxoffice manquant

In [136]:
lignes_avec_valeurs_nulles = merged_boxoffice[merged_boxoffice.isnull().any(axis=1)]
lignes_avec_valeurs_nulles

,titre,fin_semaine_1,boxoffice_1,boxoffice_2,film_id
0,Oppenheimer,24/07/2023,80500000,<NA>,296168
9,Maaveeran,19/07/2023,4480,<NA>,317601
31,Les Aventuriers de l'Arche perdue,10/09/2012,1673731,<NA>,121
72,Les Herbes sèches,19/07/2023,32179,<NA>,280585
75,Les Algues vertes,19/07/2023,125566,<NA>,292652
...,...,...,...,...,...
10043,Megan Leavey,12/06/2017,3810867,<NA>,240062
10046,Spider-Man: Across the Spider-Verse Live Action,12/06/2023,55511096,<NA>,316721
10054,The Kings of Summer,10/06/2013,212873,<NA>,216550
10056,In The Earth,07/05/2021,-1,<NA>,287873
10062,Left Behind: Rise of the Antichrist,30/01/2023,2553152,<NA>,304920

## Movies dataset

In [137]:
merged_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14618 entries, 0 to 14617
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             14618 non-null  object
 1   date              14537 non-null  object
 2   genre             14618 non-null  object
 3   duree             14506 non-null  float64
 4   realisateur       14618 non-null  object
 5   distributeur      14618 non-null  object
 6   acteurs           14618 non-null  object
 7   nationalites      14618 non-null  object
 8   langue_d_origine  14618 non-null  object
 9   type_film         14618 non-null  object
 10  annee_production  14618 non-null  int64
 11  nombre_article    14618 non-null  object
 12  recompenses       14618 non-null  object
 13  description       13378 non-null  object
 14  film_id           14618 non-null  int64
dtypes: float64(1), int64(2), object(12)
memory usage: 1.7+ MB

### Supprimer les doublons

In [138]:
merged_movies = merged_movies.drop_duplicates()

In [139]:
merged_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14618 entries, 0 to 14617
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             14618 non-null  object
 1   date              14537 non-null  object
 2   genre             14618 non-null  object
 3   duree             14506 non-null  float64
 4   realisateur       14618 non-null  object
 5   distributeur      14618 non-null  object
 6   acteurs           14618 non-null  object
 7   nationalites      14618 non-null  object
 8   langue_d_origine  14618 non-null  object
 9   type_film         14618 non-null  object
 10  annee_production  14618 non-null  int64
 11  nombre_article    14618 non-null  object
 12  recompenses       14618 non-null  object
 13  description       13378 non-null  object
 14  film_id           14618 non-null  int64
dtypes: float64(1), int64(2), object(12)
memory usage: 1.8+ MB

## Merging the datasets boxoffice and movies

In [140]:
merged_dataset = pd.merge(merged_movies, merged_boxoffice, on='film_id')

In [141]:
merged_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6725 entries, 0 to 6724
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre_x           6725 non-null   object
 1   date              6724 non-null   object
 2   genre             6725 non-null   object
 3   duree             6713 non-null   float64
 4   realisateur       6725 non-null   object
 5   distributeur      6725 non-null   object
 6   acteurs           6725 non-null   object
 7   nationalites      6725 non-null   object
 8   langue_d_origine  6725 non-null   object
 9   type_film         6725 non-null   object
 10  annee_production  6725 non-null   int64
 11  nombre_article    6725 non-null   object
 12  recompenses       6725 non-null   object
 13  description       6033 non-null   object
 14  film_id           6725 non-null   int64
 15  titre_y           6725 non-null   object
 16  fin_semaine_1     6725 non-null   object
 17  boxoffice_1       6725 non-null   int64
 18  boxoffice_2       6427 non-null   Int64
dtypes: Int64(1), float64(1), int64(3), object(14)
memory usage: 1.0+ MB

In [142]:
merged_dataset.head()

,titre_x,date,genre,duree,realisateur,distributeur,acteurs,nationalites,langue_d_origine,type_film,annee_production,nombre_article,recompenses,description,film_id,titre_y,fin_semaine_1,boxoffice_1,boxoffice_2
0,Oppenheimer,19/07/2023,Biopic_Historique_Thriller,181.0,Christopher Nolan,Universal Pictures International France,Cillian Murphy_Emily Blunt_Matt Damon,U.S.A.,Anglais,Long-métrage,2023,30,None,"En 1942, convaincus que l’Allemagne nazie est ...",296168,Oppenheimer,24/07/2023,80500000,<NA>
1,Les Filles du Docteur March,01/01/2020,Drame_Romance,135.0,Greta Gerwig,Sony Pictures Releasing France,Saoirse Ronan_Emma Watson_Florence Pugh,U.S.A.,Anglais,Long-métrage,2019,28,2 prix et 12 nominations,"Une nouvelle adaptation des ""Quatre filles du ...",224808,Les Filles du Docteur March,08/01/2020,242663,152480
2,La Cage Dorée,24/04/2013,Comédie,91.0,Ruben Alves,Pathé,Rita Blanco_Joaquim de Almeida_Roland Giraud,Portugal,"Français, Anglais",Long-métrage,2012,14,2 prix et 6 nominations,"Dans les beaux quartiers de Paris, Maria et Jo...",109860,La Cage Dorée,01/05/2013,288750,243837
3,Retour chez ma mère,01/06/2016,Comédie,91.0,Eric Lavaine,Pathé,Alexandra Lamy_Josiane Balasko_Mathilde Seigner,France,Français,Long-métrage,2016,16,None,Aimeriez-vous retourner vivre chez vos parents...,243501,Retour chez ma mère,08/06/2016,643863,412121
4,Maestro(s),07/12/2022,Drame,87.0,Bruno Chiche,Apollo Films / Orange Studio,Yvan Attal_Pierre Arditi_ Miou-Miou,France,Français,Long-métrage,2022,15,None,"Chez les Dumar, on est chefs d'orchestre de pè...",291285,Maestro(s),14/12/2022,111837,64856

## Choisir le bon boxoffice

In [143]:
# Comparer les colonnes "date" et "fin_semaine_1" pour déterminer quelle colonne "boxoffice" prendre
mask = merged_dataset['date'] == merged_dataset['fin_semaine_1']
merged_dataset['boxoffice'] = merged_dataset['boxoffice_2'].where(mask, merged_dataset['boxoffice_1'])

# Supprimer les colonnes inutiles
merged_dataset.drop(columns=['boxoffice_1', 'boxoffice_2', 'fin_semaine_1'], inplace=True)

# Afficher le dataframe final
print(merged_dataset)

                          titre_x        date                       genre  \
0                     Oppenheimer  19/07/2023  Biopic_Historique_Thriller
1     Les Filles du Docteur March  01/01/2020               Drame_Romance
2                   La Cage Dorée  24/04/2013                     Comédie
3             Retour chez ma mère  01/06/2016                     Comédie
4                      Maestro(s)  07/12/2022                       Drame
...                           ...         ...                         ...
6720              Vers la lumière  10/01/2018               Drame_Romance
6721         Des amours, désamour  15/02/2017             Comédie_Romance
6722                  KGF 2 Hindi  14/04/2022             Action_Thriller
6723              Fear and Desire  14/11/2012                Drame_Guerre
6724              Crimes à Oxford  26/03/2008         Judiciaire_Thriller

      duree         realisateur                             distributeur  \
0     181.0   Christopher Nolan  Universal Pictures International France
1     135.0        Greta Gerwig           Sony Pictures Releasing France
2      91.0         Ruben Alves                                    Pathé
3      91.0        Eric Lavaine                                    Pathé
4      87.0        Bruno Chiche             Apollo Films / Orange Studio
...     ...                 ...                                      ...
6720  101.0        Naomi Kawase                            Haut et Court
6721   95.0       Dominic Bachy                Les Films à Fleur de Peau
6722  168.0      Prashanth Neel                 Desi Entertainment Paris
6723   61.0     Stanley Kubrick                    Films sans Frontières
6724  103.0  Álex de la Iglesia                     La Fabrique de Films

                                              acteurs nationalites  \
0               Cillian Murphy_Emily Blunt_Matt Damon       U.S.A.
1             Saoirse Ronan_Emma Watson_Florence Pugh       U.S.A.
2        Rita Blanco_Joaquim de Almeida_Roland Giraud     Portugal
3     Alexandra Lamy_Josiane Balasko_Mathilde Seigner       France
4                 Yvan Attal_Pierre Arditi_ Miou-Miou       France
...                                               ...          ...
6720       Masatoshi Nagase_Ayame Misaki_Tatsuya Fuji        Japon
6721         Anthony Delon_Linda Hardy_Denis Maréchal       France
6722                  Yash_Sanjay Dutt_Raveena Tandon         Inde
6723         Frank Silvera_Paul Mazursky_Kenneth Harp       U.S.A.
6724                  Elijah Wood_John Hurt_Julie Cox       France

       langue_d_origine     type_film  annee_production nombre_article  \
0               Anglais  Long-métrage              2023             30
1               Anglais  Long-métrage              2019             28
2     Français, Anglais  Long-métrage              2012             14
3              Français  Long-métrage              2016             16
4              Français  Long-métrage              2022             15
...                 ...           ...               ...            ...
6720           Japonais  Long-métrage              2017             29
6721           Français  Long-métrage              2017             23
6722              Hindi  Long-métrage              2022           None
6723            Anglais  Long-métrage              1953              6
6724  Anglais, Espagnol  Long-métrage              2008             21

                   recompenses  \
0                         None
1     2 prix et 12 nominations
2      2 prix et 6 nominations
3                         None
4                         None
...                        ...
6720             8 nominations
6721                      None
6722                      None
6723                      None
6724                      None

                                            description  film_id  \
0     En 1942, convaincus que l’Allemagne nazie est ...   296168
1     Une nouvelle adaptation des "Quatre filles du ...   224808
2     Dans les beaux quartiers de Paris, Maria et Jo...   109860
3     Aimeriez-vous retourner vivre chez vos parents...   243501
4     Chez les Dumar, on est chefs d'orchestre de pè...   291285
...                                                 ...      ...
6720  Misako passe son temps à décrire les objets, l...   252153
6721  4 couples, chacun à un stade différent de sa r...   251652
6722  KGF signifie Kolar Gold Fields. Il s'agit de l...   303108
6723  Dans une guerre abstraite en terre inconnue, u...    36127
6724  Une vieille dame est assassinée à Oxford. Son ...   125149

                          titre_y  boxoffice
0                     Oppenheimer   80500000
1     Les Filles du Docteur March     242663
2                   La Cage Dorée     288750
3             Retour chez ma mère     643863
4                      Maestro(s)     111837
...                           ...        ...
6720              Vers la lumière      26544
6721         Des amours, désamour        174
6722                  KGF 2 Hindi    2874000
6723              Fear and Desire       2597
6724              Crimes à Oxford     143230

[6725 rows x 17 columns]

In [144]:
merged_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6725 entries, 0 to 6724
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre_x           6725 non-null   object
 1   date              6724 non-null   object
 2   genre             6725 non-null   object
 3   duree             6713 non-null   float64
 4   realisateur       6725 non-null   object
 5   distributeur      6725 non-null   object
 6   acteurs           6725 non-null   object
 7   nationalites      6725 non-null   object
 8   langue_d_origine  6725 non-null   object
 9   type_film         6725 non-null   object
 10  annee_production  6725 non-null   int64
 11  nombre_article    6725 non-null   object
 12  recompenses       6725 non-null   object
 13  description       6033 non-null   object
 14  film_id           6725 non-null   int64
 15  titre_y           6725 non-null   object
 16  boxoffice         6725 non-null   Int64
dtypes: Int64(1), float64(1), int64(2), object(13)
memory usage: 952.3+ KB

## Exporter le dataset en csv

In [145]:
merged_dataset.to_csv('../../machine_learning/data/dataset_bronze_test.csv', index=False)