# Merging the datasets

In [52]:
import pandas as pd

## Import CSV

In [53]:
boxoffice_tous= pd.read_csv('boxoffice_tous.csv')
boxoffice_tous_bis= pd.read_csv('boxoffice_tous_bis.csv')
boxoffice_top = pd.read_csv('boxoffice_top.csv')
boxoffice_topboxofficefr = pd.read_csv('boxoffice_topboxofficefr.csv')

merged_boxoffice = pd.concat([boxoffice_tous, boxoffice_top, boxoffice_topboxofficefr, boxoffice_tous_bis])

# merged_boxoffice = boxoffice_tous

In [54]:
movies_tous = pd.read_csv('movies_tous.csv')
# movies_top = pd.read_csv('movies_top.csv')
# movies_topboxofficefr = pd.read_csv('movies_topboxofficefr.csv')

# merged_movies = pd.concat([movies_tous, movies_top, movies_topboxofficefr])

merged_movies = movies_tous

## Boxoffice dataset

In [55]:
merged_boxoffice.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15301 entries, 0 to 7549
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   titre        15301 non-null  object
 1   semaine_1    15301 non-null  object
 2   boxoffice_1  15301 non-null  object
 3   boxoffice_2  15301 non-null  object
dtypes: object(4)
memory usage: 597.7+ KB

### Supprimer les doublons

In [56]:
merged_boxoffice = merged_boxoffice.drop_duplicates()

In [57]:
merged_boxoffice.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8976 entries, 0 to 7548
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   titre        8976 non-null   object
 1   semaine_1    8976 non-null   object
 2   boxoffice_1  8976 non-null   object
 3   boxoffice_2  8976 non-null   object
dtypes: object(4)
memory usage: 350.6+ KB

In [58]:
merged_boxoffice.head(5)

,titre,semaine_1,boxoffice_1,boxoffice_2
0,Astérix et Obélix : L'Empire du milieu,\n01 au 8 février 2023\n,1 882 686,1 009 899
1,38°5 quai des orfèvres,\n21 au 28 juin 2023\n,45 576,25 679
2,Fast & Furious X,\n17 au 24 mai 2023\n,1 140 846,514 473
3,Get Out,\n03 au 10 mai 2017\n,465 265,239 606
4,Sauver ou périr,\n28 novembre au 5 décembre 2018\n,338 929,210 053

### Mise en forme des colonnes boxoffice 1 et 2 et dates correspondantes

In [59]:
from datetime import datetime
import locale

def convert_to_dd_mm_aaaa(date_str):
    if date_str:
        try:
            # Set the locale manually for the script
            locale.setlocale(locale.LC_TIME, 'fr_FR.utf8')
            date_obj = datetime.strptime(date_str, '%d %B %Y')
            formatted_date = date_obj.strftime('%d/%m/%Y')
            return formatted_date
        except ValueError:
            return None
    return None

In [60]:
# Enlever les caractères "\n" de la colonne "semaine_1"
merged_boxoffice['semaine_1'] = merged_boxoffice['semaine_1'].str.strip('\n')

# Diviser la colonne "semaine_1" en deux colonnes "debut_semaine_1" et "fin_semaine_1"
merged_boxoffice[['debut_semaine_1', 'fin_semaine_1']] = merged_boxoffice['semaine_1'].str.split(' au ', expand=True)

# Convertir la colonne "fin_semaine_1" au format "dd/mm/aaaa"
merged_boxoffice['fin_semaine_1'] = merged_boxoffice['fin_semaine_1'].apply(convert_to_dd_mm_aaaa)

# Supprimer la colonne "debut_semaine_1" si nécessaire
merged_boxoffice.drop(columns=['debut_semaine_1'], inplace=True)

### Supprimer les lignes avec le boxoffice manquant

In [61]:
lignes_avec_valeurs_nulles = merged_boxoffice[merged_boxoffice.isnull().any(axis=1)]
lignes_avec_valeurs_nulles

Empty DataFrame
Columns: [titre, semaine_1, boxoffice_1, boxoffice_2, fin_semaine_1]
Index: []

In [62]:
merged_boxoffice = merged_boxoffice.dropna()

## Movies dataset

In [63]:
merged_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52505 entries, 0 to 52504
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             52505 non-null  object
 1   date              36583 non-null  object
 2   genre             52505 non-null  object
 3   durée             47333 non-null  float64
 4   réalisateur       51938 non-null  object
 5   distributeur      52504 non-null  object
 6   acteurs           50419 non-null  object
 7   titre_original    22419 non-null  object
 8   nationalités      52505 non-null  object
 9   langue_d_origine  52504 non-null  object
 10  type_film         52504 non-null  object
 11  annee_production  52460 non-null  float64
 12  budget            52504 non-null  object
 13  box_office_total  9366 non-null   object
 14  note_presse       44872 non-null  object
 15  note_spectateurs  13300 non-null  object
 16  nombre_article    37844 non-null  object
 17  recompenses       8821 non-null   object
 18  description       48765 non-null  object
dtypes: float64(2), object(17)
memory usage: 7.6+ MB

### Supprimer les doublons

In [64]:
merged_movies = merged_movies.drop_duplicates()

In [65]:
merged_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52505 entries, 0 to 52504
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             52505 non-null  object
 1   date              36583 non-null  object
 2   genre             52505 non-null  object
 3   durée             47333 non-null  float64
 4   réalisateur       51938 non-null  object
 5   distributeur      52504 non-null  object
 6   acteurs           50419 non-null  object
 7   titre_original    22419 non-null  object
 8   nationalités      52505 non-null  object
 9   langue_d_origine  52504 non-null  object
 10  type_film         52504 non-null  object
 11  annee_production  52460 non-null  float64
 12  budget            52504 non-null  object
 13  box_office_total  9366 non-null   object
 14  note_presse       44872 non-null  object
 15  note_spectateurs  13300 non-null  object
 16  nombre_article    37844 non-null  object
 17  recompenses       8821 non-null   object
 18  description       48765 non-null  object
dtypes: float64(2), object(17)
memory usage: 8.0+ MB

## Mise en forme de la colonne genre

In [66]:
import re
import numpy as np

date_pattern = re.compile(r'\b\d{1,2}\s+(?:janvier|février|mars|avril|mai|juin|juillet|août|septembre|octobre|novembre|décembre)?\s+\d{4}\b', re.IGNORECASE)

# Nettoyage de la colonne "genre"
merged_movies['genre'] = merged_movies['genre'].apply(lambda x: ','.join(set([genre.strip() for genre in x.split('/') if not date_pattern.search(genre.strip())])))
merged_movies['genre'] = merged_movies['genre'].str.strip(',')
merged_movies['genre'] = merged_movies['genre'].apply(lambda x: ','.join(sorted(x.split(','))))

merged_movies['budget'] = merged_movies['budget'].replace('-', np.nan)

merged_movies.head(5)

,titre,date,genre,durée,réalisateur,distributeur,acteurs,titre_original,nationalités,langue_d_origine,type_film,annee_production,budget,box_office_total,note_presse,note_spectateurs,nombre_article,recompenses,description
0,"Super Mario Bros, le film",05/04/2023,"Animation,Comédie,Famille",92.0,Aaron Horvath,Universal Pictures International France,"Pierre Tessier,Chris Pratt,Jérémie Covillault",The Super Mario Bros. Movie,U.S.A.,Anglais,Long-métrage,2023.0,NaN,7 178 203 entrées,"3,1","4,1",1022 Critiques Spectateurs,NaN,Alors qu’ils tentent de réparer une canalisati...
1,Les Vengeances de Maître Poutifard,28/06/2023,"Comédie,Famille",90.0,Pierre-François Martin-Laval,UGC Distribution,"Christian Clavier,Isabelle Nanty,Jennie-Anne W...",NaN,France,Français,Long-métrage,2023.0,NaN,421 927 entrées,"2,0","2,0",5 articles de presse,NaN,"Instituteur à la retraite, Robert Poutifard n'..."
2,Des mains en or,07/06/2023,Comédie,90.0,Isabelle Mergault,Zinc Film,"Lambert Wilson,Josiane Balasko,Sylvie Testud",NaN,France,Français,Long-métrage,2023.0,NaN,269 253 entrées,"2,2","3,4",6 articles de presse,NaN,"François, futur académicien, est un écrivain c..."
3,The Covenant,23/06/2023,"Action,Guerre,Thriller",123.0,Guy Ritchie,-,"Jake Gyllenhaal,Dar Salim,Alexander Ludwig",NaN,Grande-Bretagne,Anglais,Long-métrage,2023.0,NaN,NaN,"3,1","4,1",7 articles de presse,NaN,"Lors de sa dernière mission en Afghanistan, le..."
4,"Cléo, Melvil et moi",05/07/2023,Comédie dramatique,73.0,Arnaud Viard,Moonlight Films Distribution,"Arnaud Viard,Marianne Denicourt,Romane Bohringer",NaN,France,Français,Long-métrage,2023.0,NaN,2 306 entrées,"3,3","3,2",12 articles de presse,NaN,"Dans le Paris désert du premier confinement, A..."

## Merging the datasets boxoffice and movies

In [67]:
merged_dataset = pd.merge(merged_movies, merged_boxoffice, on='titre')

In [68]:
merged_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10416 entries, 0 to 10415
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             10416 non-null  object
 1   date              9819 non-null   object
 2   genre             10416 non-null  object
 3   durée             10211 non-null  float64
 4   réalisateur       10409 non-null  object
 5   distributeur      10416 non-null  object
 6   acteurs           10215 non-null  object
 7   titre_original    4097 non-null   object
 8   nationalités      10416 non-null  object
 9   langue_d_origine  10416 non-null  object
 10  type_film         10416 non-null  object
 11  annee_production  10413 non-null  float64
 12  budget            3058 non-null   object
 13  box_office_total  8480 non-null   object
 14  note_presse       10154 non-null  object
 15  note_spectateurs  8492 non-null   object
 16  nombre_article    9888 non-null   object
 17  recompenses       4081 non-null   object
 18  description       9384 non-null   object
 19  semaine_1         10416 non-null  object
 20  boxoffice_1       10416 non-null  object
 21  boxoffice_2       10416 non-null  object
 22  fin_semaine_1     10416 non-null  object
dtypes: float64(2), object(21)
memory usage: 1.9+ MB

In [69]:
merged_dataset.head()

,titre,date,genre,durée,réalisateur,distributeur,acteurs,titre_original,nationalités,langue_d_origine,...,box_office_total,note_presse,note_spectateurs,nombre_article,recompenses,description,semaine_1,boxoffice_1,boxoffice_2,fin_semaine_1
0,"Super Mario Bros, le film",05/04/2023,"Animation,Comédie,Famille",92.0,Aaron Horvath,Universal Pictures International France,"Pierre Tessier,Chris Pratt,Jérémie Covillault",The Super Mario Bros. Movie,U.S.A.,Anglais,...,7 178 203 entrées,"3,1","4,1",1022 Critiques Spectateurs,NaN,Alors qu’ils tentent de réparer une canalisati...,05 au 12 avril 2023,1 866 914,1 536 566,12/04/2023
1,Les Vengeances de Maître Poutifard,28/06/2023,"Comédie,Famille",90.0,Pierre-François Martin-Laval,UGC Distribution,"Christian Clavier,Isabelle Nanty,Jennie-Anne W...",NaN,France,Français,...,421 927 entrées,"2,0","2,0",5 articles de presse,NaN,"Instituteur à la retraite, Robert Poutifard n'...",28 juin au 5 juillet 2023,180 735,117 728,05/07/2023
2,Des mains en or,07/06/2023,Comédie,90.0,Isabelle Mergault,Zinc Film,"Lambert Wilson,Josiane Balasko,Sylvie Testud",NaN,France,Français,...,269 253 entrées,"2,2","3,4",6 articles de presse,NaN,"François, futur académicien, est un écrivain c...",07 au 14 juin 2023,109 081,67 275,14/06/2023
3,The Covenant,23/06/2023,"Action,Guerre,Thriller",123.0,Guy Ritchie,-,"Jake Gyllenhaal,Dar Salim,Alexander Ludwig",NaN,Grande-Bretagne,Anglais,...,NaN,"3,1","4,1",7 articles de presse,NaN,"Lors de sa dernière mission en Afghanistan, le...",21 au 24 avril 2023,6 380 188,3 615 081,24/04/2023
4,"Cléo, Melvil et moi",05/07/2023,Comédie dramatique,73.0,Arnaud Viard,Moonlight Films Distribution,"Arnaud Viard,Marianne Denicourt,Romane Bohringer",NaN,France,Français,...,2 306 entrées,"3,3","3,2",12 articles de presse,NaN,"Dans le Paris désert du premier confinement, A...",05 au 12 juillet 2023,1 849,352,12/07/2023

## Choisir le bon boxoffice

In [70]:
# Comparer les colonnes "date" et "fin_semaine_1" pour déterminer quelle colonne "boxoffice" prendre
mask = merged_dataset['date'] == merged_dataset['fin_semaine_1']
merged_dataset['boxoffice'] = merged_dataset['boxoffice_2'].where(mask, merged_dataset['boxoffice_1'])

# Supprimer les colonnes inutiles
merged_dataset.drop(columns=['boxoffice_1', 'boxoffice_2', 'fin_semaine_1', 'semaine_1'], inplace=True)

# Afficher le dataframe final
print(merged_dataset)

                                    titre        date  \
0               Super Mario Bros, le film  05/04/2023
1      Les Vengeances de Maître Poutifard  28/06/2023
2                         Des mains en or  07/06/2023
3                            The Covenant  23/06/2023
4                     Cléo, Melvil et moi  05/07/2023
...                                   ...         ...
10411              La Mujer de mi hermano         NaN
10412                              Gracie         NaN
10413          Keeping up with the Steins         NaN
10414       Impractical Jokers: The Movie         NaN
10415                     Meet the Browns         NaN

                            genre  durée                   réalisateur  \
0       Animation,Comédie,Famille   92.0                 Aaron Horvath
1                 Comédie,Famille   90.0  Pierre-François Martin-Laval
2                         Comédie   90.0             Isabelle Mergault
3          Action,Guerre,Thriller  123.0                   Guy Ritchie
4              Comédie dramatique   73.0                  Arnaud Viard
...                           ...    ...                           ...
10411                       Drame   89.0          Ricardo de Montreuil
10412                       Drame   97.0              Davis Guggenheim
10413                     Comédie   99.0                Scott Marshall
10414                     Comédie   93.0                  Chris Henchy
10415  Comédie dramatique,Romance    NaN                   Tyler Perry

                                    distributeur  \
0       Universal Pictures International France
1                              UGC Distribution
2                                     Zinc Film
3                                              -
4                  Moonlight Films Distribution
...                                          ...
10411                                          -
10412                                          -
10413                                          -
10414                                          -
10415                                          -

                                                 acteurs  \
0          Pierre Tessier,Chris Pratt,Jérémie Covillault
1      Christian Clavier,Isabelle Nanty,Jennie-Anne W...
2           Lambert Wilson,Josiane Balasko,Sylvie Testud
3             Jake Gyllenhaal,Dar Salim,Alexander Ludwig
4       Arnaud Viard,Marianne Denicourt,Romane Bohringer
...                                                  ...
10411        Bárbara Mori,Christian Meier,Manolo Cardona
10412   Carly Schroeder,Dermot Mulroney,Jesse Lee Soffer
10413             Jami Gertz,Daryl Hannah,Garry Marshall
10414                  Brian Quinn,Joe Gatto,Sal Vulcano
10415           Angela Bassett,Tyler Perry,Jenifer Lewis

                    titre_original     nationalités langue_d_origine  \
0      The Super Mario Bros. Movie           U.S.A.          Anglais
1                              NaN           France         Français
2                              NaN           France         Français
3                              NaN  Grande-Bretagne          Anglais
4                              NaN           France         Français
...                            ...              ...              ...
10411                          NaN        Argentine         Espagnol
10412                          NaN           U.S.A.          Anglais
10413                          NaN           U.S.A.          Anglais
10414                          NaN           U.S.A.          Anglais
10415                          NaN           U.S.A.          Anglais

          type_film  annee_production         budget   box_office_total  \
0      Long-métrage            2023.0            NaN  7 178 203 entrées
1      Long-métrage            2023.0            NaN    421 927 entrées
2      Long-métrage            2023.0            NaN    269 253 entrées
3      Long-métrage            2023.0            NaN                NaN
4      Long-métrage            2023.0            NaN      2 306 entrées
...             ...               ...            ...                ...
10411  Long-métrage            2005.0            NaN                NaN
10412  Long-métrage            2007.0  US$ 9 000 000                NaN
10413  Long-métrage            2006.0            NaN                NaN
10414  Long-métrage            2020.0            NaN                NaN
10415  Long-métrage            2008.0            NaN                NaN

      note_presse note_spectateurs              nombre_article recompenses  \
0             3,1              4,1  1022 Critiques Spectateurs         NaN
1             2,0              2,0        5 articles de presse         NaN
2             2,2              3,4        6 articles de presse         NaN
3             3,1              4,1        7 articles de presse         NaN
4             3,3              3,2       12 articles de presse         NaN
...           ...              ...                         ...         ...
10411         3,0              NaN                         NaN         NaN
10412         2,8              NaN                         NaN         NaN
10413         2,6              NaN       1 Critique Spectateur         NaN
10414         3,1              NaN                         NaN         NaN
10415         2,5              NaN       1 Critique Spectateur         NaN

                                             description   boxoffice
0      Alors qu’ils tentent de réparer une canalisati...   1 866 914
1      Instituteur à la retraite, Robert Poutifard n'...     180 735
2      François, futur académicien, est un écrivain c...     109 081
3      Lors de sa dernière mission en Afghanistan, le...   6 380 188
4      Dans le Paris désert du premier confinement, A...       1 849
...                                                  ...         ...
10411  La monotonie gagne le couple de Zoe, jeune fem...   1 018 750
10412  En 1978, une adolescente dont le frère, as du ...   1 355 904
10413  Benjamin, un jeune garçon juif de 13 ans est s...     653 723
10414  Quatre amis, Joe, Q, Murr et Sal, alias les Jo...   3 545 000
10415  Brenda est une mère célibataire qui vit à Chic...  20 082 809

[10416 rows x 20 columns]

In [71]:
merged_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10416 entries, 0 to 10415
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             10416 non-null  object
 1   date              9819 non-null   object
 2   genre             10416 non-null  object
 3   durée             10211 non-null  float64
 4   réalisateur       10409 non-null  object
 5   distributeur      10416 non-null  object
 6   acteurs           10215 non-null  object
 7   titre_original    4097 non-null   object
 8   nationalités      10416 non-null  object
 9   langue_d_origine  10416 non-null  object
 10  type_film         10416 non-null  object
 11  annee_production  10413 non-null  float64
 12  budget            3058 non-null   object
 13  box_office_total  8480 non-null   object
 14  note_presse       10154 non-null  object
 15  note_spectateurs  8492 non-null   object
 16  nombre_article    9888 non-null   object
 17  recompenses       4081 non-null   object
 18  description       9384 non-null   object
 19  boxoffice         10416 non-null  object
dtypes: float64(2), object(18)
memory usage: 1.7+ MB

## Exporter le dataset en csv

In [72]:
merged_dataset.to_csv('../../machine_learning/data/dataset_bronze.csv', index=False)