# Merging the datasets

In [68]:
import pandas as pd

## Import CSV

In [69]:
boxoffice_tous= pd.read_csv('boxoffice_tous.csv')
boxoffice_tous_bis= pd.read_csv('boxoffice_tous_bis.csv')
boxoffice_top = pd.read_csv('boxoffice_top.csv')
boxoffice_topboxofficefr = pd.read_csv('boxoffice_topboxofficefr.csv')

merged_boxoffice = pd.concat([boxoffice_tous, boxoffice_top, boxoffice_topboxofficefr, boxoffice_tous_bis])

In [70]:
movies_tous = pd.read_csv('movies_tous.csv')
# movies_top = pd.read_csv('movies_top.csv')
# movies_topboxofficefr = pd.read_csv('movies_topboxofficefr.csv')

# merged_movies = pd.concat([movies_tous, movies_top, movies_topboxofficefr])

merged_movies = movies_tous

## Boxoffice dataset

In [71]:
merged_boxoffice.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16799 entries, 0 to 7549
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   titre        16799 non-null  object
 1   semaine_1    16799 non-null  object
 2   boxoffice_1  16799 non-null  object
 3   boxoffice_2  16799 non-null  object
dtypes: object(4)
memory usage: 656.2+ KB

### Supprimer les doublons

In [72]:
merged_boxoffice = merged_boxoffice.drop_duplicates()

In [73]:
merged_boxoffice.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9534 entries, 0 to 7546
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   titre        9534 non-null   object
 1   semaine_1    9534 non-null   object
 2   boxoffice_1  9534 non-null   object
 3   boxoffice_2  9534 non-null   object
dtypes: object(4)
memory usage: 372.4+ KB

In [74]:
merged_boxoffice.head(5)

,titre,semaine_1,boxoffice_1,boxoffice_2
0,Vers un avenir radieux,\n28 juin au 5 juillet 2023\n,91 786,47 190
1,Farang,\n28 juin au 5 juillet 2023\n,79 426,54 052
2,Asteroid City,\n21 au 28 juin 2023\n,117 498,86 521
3,Mascarade,\n26 octobre au 2 novembre 2022\n,91 498,295 895
4,Suzume,\n12 au 19 avril 2023\n,181 032,128 662

### Mise en forme des colonnes boxoffice 1 et 2 et dates correspondantes

In [75]:
from datetime import datetime
import locale

def convert_to_dd_mm_aaaa(date_str):
    if date_str:
        try:
            # Set the locale manually for the script
            locale.setlocale(locale.LC_TIME, 'fr_FR.utf8')
            date_obj = datetime.strptime(date_str, '%d %B %Y')
            formatted_date = date_obj.strftime('%d/%m/%Y')
            return formatted_date
        except ValueError:
            return None
    return None

In [76]:
# Enlever les caractères "\n" de la colonne "semaine_1"
merged_boxoffice['semaine_1'] = merged_boxoffice['semaine_1'].str.strip('\n')

# Diviser la colonne "semaine_1" en deux colonnes "debut_semaine_1" et "fin_semaine_1"
merged_boxoffice[['debut_semaine_1', 'fin_semaine_1']] = merged_boxoffice['semaine_1'].str.split(' au ', expand=True)

# Convertir la colonne "fin_semaine_1" au format "dd/mm/aaaa"
merged_boxoffice['fin_semaine_1'] = merged_boxoffice['fin_semaine_1'].apply(convert_to_dd_mm_aaaa)

# Supprimer la colonne "debut_semaine_1" si nécessaire
merged_boxoffice.drop(columns=['debut_semaine_1'], inplace=True)

### Supprimer les lignes avec le boxoffice manquant

In [77]:
lignes_avec_valeurs_nulles = merged_boxoffice[merged_boxoffice.isnull().any(axis=1)]
lignes_avec_valeurs_nulles

Empty DataFrame
Columns: [titre, semaine_1, boxoffice_1, boxoffice_2, fin_semaine_1]
Index: []

In [78]:
merged_boxoffice = merged_boxoffice.dropna()

## Movies dataset

In [79]:
merged_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52505 entries, 0 to 52504
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             52505 non-null  object
 1   date              36583 non-null  object
 2   genre             52505 non-null  object
 3   durée             47333 non-null  float64
 4   réalisateur       51938 non-null  object
 5   distributeur      52504 non-null  object
 6   acteurs           50419 non-null  object
 7   titre_original    22419 non-null  object
 8   nationalités      52505 non-null  object
 9   langue_d_origine  52504 non-null  object
 10  type_film         52504 non-null  object
 11  annee_production  52460 non-null  float64
 12  budget            52504 non-null  object
 13  box_office_total  9366 non-null   object
 14  note_presse       44872 non-null  object
 15  note_spectateurs  13300 non-null  object
 16  nombre_article    37844 non-null  object
 17  recompenses       8821 non-null   object
 18  description       48765 non-null  object
dtypes: float64(2), object(17)
memory usage: 7.6+ MB

### Supprimer les doublons

In [80]:
merged_movies = merged_movies.drop_duplicates()

In [81]:
merged_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52505 entries, 0 to 52504
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             52505 non-null  object
 1   date              36583 non-null  object
 2   genre             52505 non-null  object
 3   durée             47333 non-null  float64
 4   réalisateur       51938 non-null  object
 5   distributeur      52504 non-null  object
 6   acteurs           50419 non-null  object
 7   titre_original    22419 non-null  object
 8   nationalités      52505 non-null  object
 9   langue_d_origine  52504 non-null  object
 10  type_film         52504 non-null  object
 11  annee_production  52460 non-null  float64
 12  budget            52504 non-null  object
 13  box_office_total  9366 non-null   object
 14  note_presse       44872 non-null  object
 15  note_spectateurs  13300 non-null  object
 16  nombre_article    37844 non-null  object
 17  recompenses       8821 non-null   object
 18  description       48765 non-null  object
dtypes: float64(2), object(17)
memory usage: 8.0+ MB

## Mise en forme de la colonne genre

In [82]:
import re
import numpy as np

date_pattern = re.compile(r'\b\d{1,2}\s+(?:janvier|février|mars|avril|mai|juin|juillet|août|septembre|octobre|novembre|décembre)?\s+\d{4}\b', re.IGNORECASE)

# Nettoyage de la colonne "genre"
merged_movies['genre'] = merged_movies['genre'].apply(lambda x: ','.join(set([genre.strip() for genre in x.split('/') if not date_pattern.search(genre.strip())])))
merged_movies['genre'] = merged_movies['genre'].str.strip(',')
merged_movies['genre'] = merged_movies['genre'].apply(lambda x: ','.join(sorted(x.split(','))))

merged_movies['budget'] = merged_movies['budget'].replace('-', np.nan)

merged_movies.head(5)

,titre,date,genre,durée,réalisateur,distributeur,acteurs,titre_original,nationalités,langue_d_origine,type_film,annee_production,budget,box_office_total,note_presse,note_spectateurs,nombre_article,recompenses,description
0,"Super Mario Bros, le film",05/04/2023,"Animation,Comédie,Famille",92.0,Aaron Horvath,Universal Pictures International France,"Pierre Tessier,Chris Pratt,Jérémie Covillault",The Super Mario Bros. Movie,U.S.A.,Anglais,Long-métrage,2023.0,NaN,7 178 203 entrées,"3,1","4,1",1022 Critiques Spectateurs,NaN,Alors qu’ils tentent de réparer une canalisati...
1,Les Vengeances de Maître Poutifard,28/06/2023,"Comédie,Famille",90.0,Pierre-François Martin-Laval,UGC Distribution,"Christian Clavier,Isabelle Nanty,Jennie-Anne W...",NaN,France,Français,Long-métrage,2023.0,NaN,421 927 entrées,"2,0","2,0",5 articles de presse,NaN,"Instituteur à la retraite, Robert Poutifard n'..."
2,Des mains en or,07/06/2023,Comédie,90.0,Isabelle Mergault,Zinc Film,"Lambert Wilson,Josiane Balasko,Sylvie Testud",NaN,France,Français,Long-métrage,2023.0,NaN,269 253 entrées,"2,2","3,4",6 articles de presse,NaN,"François, futur académicien, est un écrivain c..."
3,The Covenant,23/06/2023,"Action,Guerre,Thriller",123.0,Guy Ritchie,-,"Jake Gyllenhaal,Dar Salim,Alexander Ludwig",NaN,Grande-Bretagne,Anglais,Long-métrage,2023.0,NaN,NaN,"3,1","4,1",7 articles de presse,NaN,"Lors de sa dernière mission en Afghanistan, le..."
4,"Cléo, Melvil et moi",05/07/2023,Comédie dramatique,73.0,Arnaud Viard,Moonlight Films Distribution,"Arnaud Viard,Marianne Denicourt,Romane Bohringer",NaN,France,Français,Long-métrage,2023.0,NaN,2 306 entrées,"3,3","3,2",12 articles de presse,NaN,"Dans le Paris désert du premier confinement, A..."

## Merging the datasets boxoffice and movies

In [83]:
merged_dataset = pd.merge(merged_movies, merged_boxoffice, on='titre')

In [84]:
merged_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11028 entries, 0 to 11027
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             11028 non-null  object
 1   date              10394 non-null  object
 2   genre             11028 non-null  object
 3   durée             10806 non-null  float64
 4   réalisateur       11021 non-null  object
 5   distributeur      11028 non-null  object
 6   acteurs           10809 non-null  object
 7   titre_original    4334 non-null   object
 8   nationalités      11028 non-null  object
 9   langue_d_origine  11028 non-null  object
 10  type_film         11028 non-null  object
 11  annee_production  11025 non-null  float64
 12  budget            3247 non-null   object
 13  box_office_total  8980 non-null   object
 14  note_presse       10743 non-null  object
 15  note_spectateurs  8987 non-null   object
 16  nombre_article    10464 non-null  object
 17  recompenses       4317 non-null   object
 18  description       9932 non-null   object
 19  semaine_1         11028 non-null  object
 20  boxoffice_1       11028 non-null  object
 21  boxoffice_2       11028 non-null  object
 22  fin_semaine_1     11028 non-null  object
dtypes: float64(2), object(21)
memory usage: 2.0+ MB

In [85]:
merged_dataset.head()

,titre,date,genre,durée,réalisateur,distributeur,acteurs,titre_original,nationalités,langue_d_origine,...,box_office_total,note_presse,note_spectateurs,nombre_article,recompenses,description,semaine_1,boxoffice_1,boxoffice_2,fin_semaine_1
0,"Super Mario Bros, le film",05/04/2023,"Animation,Comédie,Famille",92.0,Aaron Horvath,Universal Pictures International France,"Pierre Tessier,Chris Pratt,Jérémie Covillault",The Super Mario Bros. Movie,U.S.A.,Anglais,...,7 178 203 entrées,"3,1","4,1",1022 Critiques Spectateurs,NaN,Alors qu’ils tentent de réparer une canalisati...,05 au 12 avril 2023,1 866 914,1 536 566,12/04/2023
1,Les Vengeances de Maître Poutifard,28/06/2023,"Comédie,Famille",90.0,Pierre-François Martin-Laval,UGC Distribution,"Christian Clavier,Isabelle Nanty,Jennie-Anne W...",NaN,France,Français,...,421 927 entrées,"2,0","2,0",5 articles de presse,NaN,"Instituteur à la retraite, Robert Poutifard n'...",28 juin au 5 juillet 2023,180 735,117 728,05/07/2023
2,Des mains en or,07/06/2023,Comédie,90.0,Isabelle Mergault,Zinc Film,"Lambert Wilson,Josiane Balasko,Sylvie Testud",NaN,France,Français,...,269 253 entrées,"2,2","3,4",6 articles de presse,NaN,"François, futur académicien, est un écrivain c...",07 au 14 juin 2023,109 081,67 275,14/06/2023
3,The Covenant,23/06/2023,"Action,Guerre,Thriller",123.0,Guy Ritchie,-,"Jake Gyllenhaal,Dar Salim,Alexander Ludwig",NaN,Grande-Bretagne,Anglais,...,NaN,"3,1","4,1",7 articles de presse,NaN,"Lors de sa dernière mission en Afghanistan, le...",21 au 24 avril 2023,6 380 188,3 615 081,24/04/2023
4,"Cléo, Melvil et moi",05/07/2023,Comédie dramatique,73.0,Arnaud Viard,Moonlight Films Distribution,"Arnaud Viard,Marianne Denicourt,Romane Bohringer",NaN,France,Français,...,2 306 entrées,"3,3","3,2",12 articles de presse,NaN,"Dans le Paris désert du premier confinement, A...",05 au 12 juillet 2023,1 849,352,12/07/2023

## Choisir le bon boxoffice

In [86]:
# Comparer les colonnes "date" et "fin_semaine_1" pour déterminer quelle colonne "boxoffice" prendre
mask = merged_dataset['date'] == merged_dataset['fin_semaine_1']
merged_dataset['boxoffice'] = merged_dataset['boxoffice_2'].where(mask, merged_dataset['boxoffice_1'])

# Supprimer les colonnes inutiles
merged_dataset.drop(columns=['boxoffice_1', 'boxoffice_2', 'fin_semaine_1', 'semaine_1'], inplace=True)

# Afficher le dataframe final
print(merged_dataset)

                                    titre        date  \
0               Super Mario Bros, le film  05/04/2023
1      Les Vengeances de Maître Poutifard  28/06/2023
2                         Des mains en or  07/06/2023
3                            The Covenant  23/06/2023
4                     Cléo, Melvil et moi  05/07/2023
...                                   ...         ...
11023              La Mujer de mi hermano         NaN
11024                              Gracie         NaN
11025          Keeping up with the Steins         NaN
11026       Impractical Jokers: The Movie         NaN
11027                     Meet the Browns         NaN

                            genre  durée                   réalisateur  \
0       Animation,Comédie,Famille   92.0                 Aaron Horvath
1                 Comédie,Famille   90.0  Pierre-François Martin-Laval
2                         Comédie   90.0             Isabelle Mergault
3          Action,Guerre,Thriller  123.0                   Guy Ritchie
4              Comédie dramatique   73.0                  Arnaud Viard
...                           ...    ...                           ...
11023                       Drame   89.0          Ricardo de Montreuil
11024                       Drame   97.0              Davis Guggenheim
11025                     Comédie   99.0                Scott Marshall
11026                     Comédie   93.0                  Chris Henchy
11027  Comédie dramatique,Romance    NaN                   Tyler Perry

                                    distributeur  \
0       Universal Pictures International France
1                              UGC Distribution
2                                     Zinc Film
3                                              -
4                  Moonlight Films Distribution
...                                          ...
11023                                          -
11024                                          -
11025                                          -
11026                                          -
11027                                          -

                                                 acteurs  \
0          Pierre Tessier,Chris Pratt,Jérémie Covillault
1      Christian Clavier,Isabelle Nanty,Jennie-Anne W...
2           Lambert Wilson,Josiane Balasko,Sylvie Testud
3             Jake Gyllenhaal,Dar Salim,Alexander Ludwig
4       Arnaud Viard,Marianne Denicourt,Romane Bohringer
...                                                  ...
11023        Bárbara Mori,Christian Meier,Manolo Cardona
11024   Carly Schroeder,Dermot Mulroney,Jesse Lee Soffer
11025             Jami Gertz,Daryl Hannah,Garry Marshall
11026                  Brian Quinn,Joe Gatto,Sal Vulcano
11027           Angela Bassett,Tyler Perry,Jenifer Lewis

                    titre_original     nationalités langue_d_origine  \
0      The Super Mario Bros. Movie           U.S.A.          Anglais
1                              NaN           France         Français
2                              NaN           France         Français
3                              NaN  Grande-Bretagne          Anglais
4                              NaN           France         Français
...                            ...              ...              ...
11023                          NaN        Argentine         Espagnol
11024                          NaN           U.S.A.          Anglais
11025                          NaN           U.S.A.          Anglais
11026                          NaN           U.S.A.          Anglais
11027                          NaN           U.S.A.          Anglais

          type_film  annee_production         budget   box_office_total  \
0      Long-métrage            2023.0            NaN  7 178 203 entrées
1      Long-métrage            2023.0            NaN    421 927 entrées
2      Long-métrage            2023.0            NaN    269 253 entrées
3      Long-métrage            2023.0            NaN                NaN
4      Long-métrage            2023.0            NaN      2 306 entrées
...             ...               ...            ...                ...
11023  Long-métrage            2005.0            NaN                NaN
11024  Long-métrage            2007.0  US$ 9 000 000                NaN
11025  Long-métrage            2006.0            NaN                NaN
11026  Long-métrage            2020.0            NaN                NaN
11027  Long-métrage            2008.0            NaN                NaN

      note_presse note_spectateurs              nombre_article recompenses  \
0             3,1              4,1  1022 Critiques Spectateurs         NaN
1             2,0              2,0        5 articles de presse         NaN
2             2,2              3,4        6 articles de presse         NaN
3             3,1              4,1        7 articles de presse         NaN
4             3,3              3,2       12 articles de presse         NaN
...           ...              ...                         ...         ...
11023         3,0              NaN                         NaN         NaN
11024         2,8              NaN                         NaN         NaN
11025         2,6              NaN       1 Critique Spectateur         NaN
11026         3,1              NaN                         NaN         NaN
11027         2,5              NaN       1 Critique Spectateur         NaN

                                             description   boxoffice
0      Alors qu’ils tentent de réparer une canalisati...   1 866 914
1      Instituteur à la retraite, Robert Poutifard n'...     180 735
2      François, futur académicien, est un écrivain c...     109 081
3      Lors de sa dernière mission en Afghanistan, le...   6 380 188
4      Dans le Paris désert du premier confinement, A...       1 849
...                                                  ...         ...
11023  La monotonie gagne le couple de Zoe, jeune fem...   1 018 750
11024  En 1978, une adolescente dont le frère, as du ...   1 355 904
11025  Benjamin, un jeune garçon juif de 13 ans est s...     653 723
11026  Quatre amis, Joe, Q, Murr et Sal, alias les Jo...   3 545 000
11027  Brenda est une mère célibataire qui vit à Chic...  20 082 809

[11028 rows x 20 columns]

In [87]:
merged_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11028 entries, 0 to 11027
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             11028 non-null  object
 1   date              10394 non-null  object
 2   genre             11028 non-null  object
 3   durée             10806 non-null  float64
 4   réalisateur       11021 non-null  object
 5   distributeur      11028 non-null  object
 6   acteurs           10809 non-null  object
 7   titre_original    4334 non-null   object
 8   nationalités      11028 non-null  object
 9   langue_d_origine  11028 non-null  object
 10  type_film         11028 non-null  object
 11  annee_production  11025 non-null  float64
 12  budget            3247 non-null   object
 13  box_office_total  8980 non-null   object
 14  note_presse       10743 non-null  object
 15  note_spectateurs  8987 non-null   object
 16  nombre_article    10464 non-null  object
 17  recompenses       4317 non-null   object
 18  description       9932 non-null   object
 19  boxoffice         11028 non-null  object
dtypes: float64(2), object(18)
memory usage: 1.8+ MB

## Exporter le dataset en csv

In [88]:
merged_dataset.to_csv('../../machine_learning/data/dataset_bronze.csv', index=False)