# Merging the datasets

In [1]:
import pandas as pd

## Import CSV

In [2]:
boxoffice_tous = pd.read_csv('boxoffice_tous.csv')
boxoffice_top = pd.read_csv('boxoffice_top.csv')
boxoffice_topboxofficefr = pd.read_csv('boxoffice_topboxofficefr.csv')

merged_boxoffice = pd.concat([boxoffice_tous, boxoffice_top, boxoffice_topboxofficefr])

In [3]:
movies_tous = pd.read_csv('movies_tous.csv')
movies_top = pd.read_csv('movies_top.csv')
movies_topboxofficefr = pd.read_csv('movies_topboxofficefr.csv')

merged_movies = pd.concat([movies_tous, movies_top, movies_topboxofficefr])

## Boxoffice dataset

In [4]:
merged_boxoffice.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4949 entries, 0 to 52
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   titre      4949 non-null   object
 1   boxoffice  4949 non-null   object
dtypes: object(2)
memory usage: 116.0+ KB

In [5]:
merged_boxoffice = merged_boxoffice.drop_duplicates()

In [6]:
merged_boxoffice.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4797 entries, 0 to 33
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   titre      4797 non-null   object
 1   boxoffice  4797 non-null   object
dtypes: object(2)
memory usage: 112.4+ KB

In [7]:
merged_boxoffice.head(5)

                           titre boxoffice
0                          Emily    47 695
1  Là où chantent les écrevisses   110 381
2                   Annie Colère    68 373
3        Mission: Impossible III   996 860
4               Une belle course   180 034

In [8]:
lignes_avec_valeurs_nulles = merged_boxoffice[merged_boxoffice.isnull().any(axis=1)]
lignes_avec_valeurs_nulles

Empty DataFrame
Columns: [titre, boxoffice]
Index: []

In [9]:
merged_boxoffice = merged_boxoffice.dropna()

## Movies dataset

In [10]:
merged_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9143 entries, 0 to 149
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             9143 non-null   object
 1   date              7066 non-null   object
 2   genre             6001 non-null   object
 3   durée             9098 non-null   float64
 4   réalisateur       9130 non-null   object
 5   distributeur      7700 non-null   object
 6   acteurs           9112 non-null   object
 7   titre_original    4074 non-null   object
 8   nationalités      2307 non-null   object
 9   langue_d_origine  9143 non-null   object
 10  type_film         9143 non-null   object
 11  annee_production  9143 non-null   int64
 12  budget            9143 non-null   object
 13  box_office_total  4492 non-null   object
 14  note_presse       9126 non-null   object
 15  note_spectateurs  5891 non-null   object
 16  nombre_article    9007 non-null   object
 17  recompenses       3808 non-null   object
 18  description       8316 non-null   object
dtypes: float64(1), int64(1), object(17)
memory usage: 1.4+ MB

In [11]:
merged_movies = merged_movies.drop_duplicates()

In [12]:
merged_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8905 entries, 0 to 147
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             8905 non-null   object
 1   date              6846 non-null   object
 2   genre             5847 non-null   object
 3   durée             8860 non-null   float64
 4   réalisateur       8892 non-null   object
 5   distributeur      7475 non-null   object
 6   acteurs           8874 non-null   object
 7   titre_original    3937 non-null   object
 8   nationalités      2247 non-null   object
 9   langue_d_origine  8905 non-null   object
 10  type_film         8905 non-null   object
 11  annee_production  8905 non-null   int64
 12  budget            8905 non-null   object
 13  box_office_total  4492 non-null   object
 14  note_presse       8888 non-null   object
 15  note_spectateurs  5722 non-null   object
 16  nombre_article    8775 non-null   object
 17  recompenses       3634 non-null   object
 18  description       8101 non-null   object
dtypes: float64(1), int64(1), object(17)
memory usage: 1.4+ MB

## Merging the datasets boxoffice and movies

In [13]:
merged_dataset = pd.merge(merged_movies, merged_boxoffice, on='titre')

In [14]:
merged_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4913 entries, 0 to 4912
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             4913 non-null   object
 1   date              4608 non-null   object
 2   genre             3148 non-null   object
 3   durée             4906 non-null   float64
 4   réalisateur       4913 non-null   object
 5   distributeur      4786 non-null   object
 6   acteurs           4891 non-null   object
 7   titre_original    1998 non-null   object
 8   nationalités      1361 non-null   object
 9   langue_d_origine  4913 non-null   object
 10  type_film         4913 non-null   object
 11  annee_production  4913 non-null   int64
 12  budget            4913 non-null   object
 13  box_office_total  4357 non-null   object
 14  note_presse       4910 non-null   object
 15  note_spectateurs  4583 non-null   object
 16  nombre_article    4898 non-null   object
 17  recompenses       2418 non-null   object
 18  description       4395 non-null   object
 19  boxoffice         4913 non-null   object
dtypes: float64(1), int64(1), object(18)
memory usage: 806.0+ KB

In [15]:
merged_dataset.head()

,titre,date,genre,durée,réalisateur,distributeur,acteurs,titre_original,nationalités,langue_d_origine,type_film,annee_production,budget,box_office_total,note_presse,note_spectateurs,nombre_article,recompenses,description,boxoffice
0,Les Vengeances de Maître Poutifard,28/06/2023,Famille,90.0,Pierre-François Martin-Laval,UGC Distribution,"Christian Clavier,Isabelle Nanty,Jennie-Anne W...",NaN,"France,Belgique",Français,Long-métrage,2023,-,360 119 entrées,"2,0","2,1",5 articles de presse,NaN,"Instituteur à la retraite, Robert Poutifard n'...",180 735
1,Le Challenge,21/06/2023,NaN,103.0,Gene Stupnitsky,Sony Pictures Releasing France,"Jennifer Lawrence,Andrew Barth Feldman,Laura B...",No Hard Feelings,NaN,Anglais,Long-métrage,2023,-,116 813 entrées,"3,0","3,1",5 articles de presse,NaN,Maddie est sur le point de perdre sa maison d’...,54 361
2,La Petite sirène,24/05/2023,"Famille,Fantastique",136.0,Rob Marshall,The Walt Disney Company France,"Halle Bailey,Cerise Calixte,Jonah Hauer-King",The Little Mermaid,NaN,Anglais,Long-métrage,2023,-,1 688 076 entrées,"2,5","2,3",20 articles de presse,NaN,"Les années 1830, dans les eaux d'une île ficti...",582 814
3,Un homme idéal,18/03/2015,NaN,97.0,Yann Gozlan,Mars Films,"Pierre Niney,Ana Girardot,André Marcon",NaN,NaN,Français,Long-métrage,2014,-,666 835 entrées,"3,2","3,8",24 articles de presse,NaN,"Mathieu, 25 ans, aspire depuis toujours à deve...",337 525
4,Mission : Impossible - Protocole fantôme,14/12/2011,"Espionnage,Thriller",133.0,Brad Bird,Paramount Pictures France,"Tom Cruise,Jeremy Renner,Simon Pegg",Mission: Impossible - Ghost Protocol,NaN,Anglais,Long-métrage,2011,140 000 000 $,2 414 279 entrées,"3,9","3,8",26 articles de presse,3 nominations,Impliquée dans l'attentat terroriste du Kremli...,827 046

In [16]:
merged_dataset.to_csv('dataset_bronze.csv', index=False)