# Merging the datasets

In [61]:
import pandas as pd

## Import CSV

In [62]:
boxoffice_tous= pd.read_csv('../SCRAP_DATA_FOR_THE_MODEL/dataset/boxoffice.csv', dtype={'boxoffice': pd.Int64Dtype()})

merged_boxoffice = boxoffice_tous

In [63]:
movies_tous = pd.read_csv('../SCRAP_DATA_FOR_THE_MODEL/dataset/movies.csv')

merged_movies = movies_tous

## Boxoffice dataset

In [64]:
merged_boxoffice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9046 entries, 0 to 9045
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             9046 non-null   object
 1   fin_semaine_1     9046 non-null   object
 2   boxoffice_1       9046 non-null   int64
 3   boxoffice_2       8358 non-null   float64
 4   film_id_allocine  9046 non-null   int64
dtypes: float64(1), int64(2), object(2)
memory usage: 353.5+ KB

### Supprimer les doublons

In [65]:
merged_boxoffice = merged_boxoffice.drop_duplicates()

In [66]:
merged_boxoffice.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9046 entries, 0 to 9045
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             9046 non-null   object
 1   fin_semaine_1     9046 non-null   object
 2   boxoffice_1       9046 non-null   int64
 3   boxoffice_2       8358 non-null   float64
 4   film_id_allocine  9046 non-null   int64
dtypes: float64(1), int64(2), object(2)
memory usage: 424.0+ KB

In [67]:
merged_boxoffice.head(5)

,titre,fin_semaine_1,boxoffice_1,boxoffice_2,film_id_allocine
0,L'Innocent,19/10/2022,192906,157119.0,284675
1,Une histoire d'amour et de désir,08/09/2021,16502,9195.0,273909
2,Le Prestige,22/11/2006,122611,54401.0,108998
3,Evil Dead Rise,26/04/2023,235926,167421.0,277876
4,The Hunt,01/07/2020,19864,17071.0,263711

### Supprimer les lignes avec le boxoffice manquant

In [68]:
lignes_avec_valeurs_nulles = merged_boxoffice[merged_boxoffice.isnull().any(axis=1)]
lignes_avec_valeurs_nulles

,titre,fin_semaine_1,boxoffice_1,boxoffice_2,film_id_allocine
29,Les Déguns 2,02/08/2023,307587,NaN,308779
64,La Vache qui chantait le futur,02/08/2023,772,NaN,299331
102,Rendez-vous à Tokyo,02/08/2023,27335,NaN,307826
103,The First Slam Dunk,02/08/2023,33488,NaN,306133
114,Les Aventuriers de l'Arche perdue,10/09/2012,1673731,NaN,121
...,...,...,...,...,...
9040,Omkara,31/07/2006,427400,NaN,114640
9041,Sarah Landon and the Paranormal Hour,22/10/2007,586283,NaN,131760
9042,Kismat Konnection,21/07/2008,282122,NaN,138246
9043,Ways of the Flesh,17/01/2011,540000,NaN,175117
9045,Pulling Strings,07/10/2013,2500000,NaN,224514

In [69]:
merged_boxoffice = merged_boxoffice.drop(columns=['titre'], axis=1)

## Movies dataset

In [70]:
merged_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31803 entries, 0 to 31802
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             31803 non-null  object
 1   date              31803 non-null  object
 2   genre             31803 non-null  object
 3   duree             30769 non-null  float64
 4   realisateur       31803 non-null  object
 5   distributeur      31803 non-null  object
 6   acteurs           31107 non-null  object
 7   nationalites      31803 non-null  object
 8   langue_d_origine  31803 non-null  object
 9   type_film         31803 non-null  object
 10  annee_production  31803 non-null  object
 11  nombre_article    31803 non-null  object
 12  description       29596 non-null  object
 13  film_id_allocine  31803 non-null  int64
 14  image             31803 non-null  object
dtypes: float64(1), int64(1), object(13)
memory usage: 3.6+ MB

### Supprimer les doublons

In [71]:
merged_movies = merged_movies.drop_duplicates()

In [72]:
merged_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31803 entries, 0 to 31802
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             31803 non-null  object
 1   date              31803 non-null  object
 2   genre             31803 non-null  object
 3   duree             30769 non-null  float64
 4   realisateur       31803 non-null  object
 5   distributeur      31803 non-null  object
 6   acteurs           31107 non-null  object
 7   nationalites      31803 non-null  object
 8   langue_d_origine  31803 non-null  object
 9   type_film         31803 non-null  object
 10  annee_production  31803 non-null  object
 11  nombre_article    31803 non-null  object
 12  description       29596 non-null  object
 13  film_id_allocine  31803 non-null  int64
 14  image             31803 non-null  object
dtypes: float64(1), int64(1), object(13)
memory usage: 3.9+ MB

## Merging the datasets boxoffice and movies

In [73]:
merged_dataset = pd.merge(merged_movies, merged_boxoffice, on='film_id_allocine')

In [74]:
merged_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7166 entries, 0 to 7165
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             7166 non-null   object
 1   date              7166 non-null   object
 2   genre             7166 non-null   object
 3   duree             7150 non-null   float64
 4   realisateur       7166 non-null   object
 5   distributeur      7166 non-null   object
 6   acteurs           7071 non-null   object
 7   nationalites      7166 non-null   object
 8   langue_d_origine  7166 non-null   object
 9   type_film         7166 non-null   object
 10  annee_production  7166 non-null   object
 11  nombre_article    7166 non-null   object
 12  description       6445 non-null   object
 13  film_id_allocine  7166 non-null   int64
 14  image             7166 non-null   object
 15  fin_semaine_1     7166 non-null   object
 16  boxoffice_1       7166 non-null   int64
 17  boxoffice_2       6687 non-null   float64
dtypes: float64(2), int64(2), object(14)
memory usage: 1.0+ MB

In [75]:
merged_dataset.head()

,titre,date,genre,duree,realisateur,distributeur,acteurs,nationalites,langue_d_origine,type_film,annee_production,nombre_article,description,film_id_allocine,image,fin_semaine_1,boxoffice_1,boxoffice_2
0,Spider-Man : Across The Spider-Verse,31/05/2023,Action_Animation_Aventure_Fantastique,141.0,Joaquim Dos Santos,Sony Pictures Releasing France,"Stéphane Bak,Shameik Moore,Shirine Boutella",U.S.A.,Anglais,Long-métrage,2023,596,"Après avoir retrouvé Gwen Stacy, Spider-Man, l...",269975,https://fr.web.img6.acsta.net/c_310_420/pictur...,07/06/2023,550808,390802.0
1,The First Slam Dunk,26/07/2023,Animation_Comédie_Drame,124.0,Takehiko Inoue,Wild Bunch Distribution,"Shugo Nakamura,Ryota Iwasaki,Subaru Kimura",Japon,Japonais,Long-métrage,2022,40,"Le meneur de jeu de Shohoku, Ryota Miyagi, jou...",306133,https://fr.web.img6.acsta.net/c_310_420/pictur...,02/08/2023,33488,NaN
2,Rendez-vous à Tokyo,26/07/2023,Drame_Romance,115.0,Daigo Matsui,Art House,"Sosuke Ikematsu,Sairi Itô,Yumi Kawai",Japon,Japonais,Long-métrage,2021,18,Les 26 juillet se suivent et ne se ressemblent...,307826,https://fr.web.img2.acsta.net/c_310_420/pictur...,02/08/2023,27335,NaN
3,Insidious: The Red Door,05/07/2023,Epouvante-horreur_Fantastique,108.0,Patrick Wilson,Sony Pictures Releasing France,"Patrick Wilson,Rose Byrne,Ty Simpkins",U.S.A.,Anglais,Long-métrage,2023,8,Afin de se débarrasser définitivement de leurs...,287593,https://fr.web.img6.acsta.net/c_310_420/pictur...,12/07/2023,306107,160642.0
4,La Main,26/07/2023,Epouvante-horreur_Thriller,94.0,Danny Philippou,SND,"Sophie Wilde,Joe Bird,Alexandra Jensen",Australie,Anglais,Long-métrage,2023,20,Lorsqu'un groupe d'amis découvre comment conju...,311203,https://fr.web.img6.acsta.net/c_310_420/pictur...,02/08/2023,187507,10431720.0

## Choisir le bon boxoffice

In [76]:
# Comparer les colonnes "date" et "fin_semaine_1" pour déterminer quelle colonne "boxoffice" prendre
mask = merged_dataset['date'] == merged_dataset['fin_semaine_1']
merged_dataset['boxoffice'] = merged_dataset['boxoffice_2'].where(mask, merged_dataset['boxoffice_1'])

# Supprimer les colonnes inutiles
merged_dataset.drop(columns=['boxoffice_1', 'boxoffice_2', 'fin_semaine_1'], inplace=True)

# Afficher le dataframe final
print(merged_dataset)

                                     titre        date  \
0     Spider-Man : Across The Spider-Verse  31/05/2023
1                      The First Slam Dunk  26/07/2023
2                      Rendez-vous à Tokyo  26/07/2023
3                  Insidious: The Red Door  05/07/2023
4                                  La Main  26/07/2023
...                                    ...         ...
7161                              Hypnotic  23/08/2023
7162                           Mafia Mamma  28/08/2023
7163                            Love Coach  24/01/2014
7164     Harold & Kumar Chassent Le Burger  15/03/2007
7165                              The Mule  19/10/2018

                                      genre  duree          realisateur  \
0     Action_Animation_Aventure_Fantastique  141.0   Joaquim Dos Santos
1                   Animation_Comédie_Drame  124.0       Takehiko Inoue
2                             Drame_Romance  115.0         Daigo Matsui
3             Epouvante-horreur_Fantastique  108.0       Patrick Wilson
4                Epouvante-horreur_Thriller   94.0      Danny Philippou
...                                     ...    ...                  ...
7161                        Action_Thriller   94.0     Robert Rodriguez
7162                Action_Comédie_Policier  101.0  Catherine Hardwicke
7163                        Comédie_Romance  105.0     Gabriele Muccino
7164                                Comédie   88.0         Danny Leiner
7165                       Comédie_Policier  103.0        Angus Sampson

                        distributeur  \
0     Sony Pictures Releasing France
1            Wild Bunch Distribution
2                          Art House
3     Sony Pictures Releasing France
4                                SND
...                              ...
7161                             SND
7162                               -
7163         Metropolitan FilmExport
7164         Metropolitan FilmExport
7165                    e-cinema.com

                                             acteurs     nationalites  \
0        Stéphane Bak,Shameik Moore,Shirine Boutella           U.S.A.
1         Shugo Nakamura,Ryota Iwasaki,Subaru Kimura            Japon
2               Sosuke Ikematsu,Sairi Itô,Yumi Kawai            Japon
3              Patrick Wilson,Rose Byrne,Ty Simpkins           U.S.A.
4             Sophie Wilde,Joe Bird,Alexandra Jensen        Australie
...                                              ...              ...
7161                Ben Affleck,Alice Braga,JD Pardo           U.S.A.
7162  Toni Collette,Monica Bellucci,Alfonso Perugini  Grande-Bretagne
7163          Gerard Butler,Jessica Biel,Uma Thurman           U.S.A.
7164                  John Cho,Kal Penn,Paula Garces           U.S.A.
7165       Hugo Weaving,Angus Sampson,Leigh Whannell        Australie

          langue_d_origine     type_film annee_production nombre_article  \
0                  Anglais  Long-métrage             2023            596
1                 Japonais  Long-métrage             2022             40
2                 Japonais  Long-métrage             2021             18
3                  Anglais  Long-métrage             2023              8
4                  Anglais  Long-métrage             2023             20
...                    ...           ...              ...            ...
7161               Anglais  Long-métrage             2023             17
7162               Anglais  Long-métrage             2023             13
7163               Anglais  Long-métrage             2012             24
7164               Anglais  Long-métrage             2004            129
7165  Anglais, Russe, Thaï  Long-métrage             2014              6

                                            description  film_id_allocine  \
0     Après avoir retrouvé Gwen Stacy, Spider-Man, l...            269975
1     Le meneur de jeu de Shohoku, Ryota Miyagi, jou...            306133
2     Les 26 juillet se suivent et ne se ressemblent...            307826
3     Afin de se débarrasser définitivement de leurs...            287593
4     Lorsqu'un groupe d'amis découvre comment conju...            311203
...                                                 ...               ...
7161                                                NaN            262827
7162  Une américaine hérite de l'empire mafieux de s...            297295
7163                                                NaN            190733
7164  Harold et Kumar, deux colocataires amateurs de...             57313
7165  Septembre 1983. Ray Jenkins accepte naïvement ...            229904

                                                  image  boxoffice
0     https://fr.web.img6.acsta.net/c_310_420/pictur...   550808.0
1     https://fr.web.img6.acsta.net/c_310_420/pictur...    33488.0
2     https://fr.web.img2.acsta.net/c_310_420/pictur...    27335.0
3     https://fr.web.img6.acsta.net/c_310_420/pictur...   306107.0
4     https://fr.web.img6.acsta.net/c_310_420/pictur...   187507.0
...                                                 ...        ...
7161  https://fr.web.img4.acsta.net/c_310_420/pictur...  2355000.0
7162  https://fr.web.img5.acsta.net/c_310_420/pictur...  2032202.0
7163  https://fr.web.img5.acsta.net/c_310_420/pictur...  5750288.0
7164  https://fr.web.img5.acsta.net/c_310_420/medias...  5480378.0
7165  https://fr.web.img4.acsta.net/c_310_420/pictur...  9500985.0

[7166 rows x 16 columns]

In [77]:
merged_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7166 entries, 0 to 7165
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             7166 non-null   object
 1   date              7166 non-null   object
 2   genre             7166 non-null   object
 3   duree             7150 non-null   float64
 4   realisateur       7166 non-null   object
 5   distributeur      7166 non-null   object
 6   acteurs           7071 non-null   object
 7   nationalites      7166 non-null   object
 8   langue_d_origine  7166 non-null   object
 9   type_film         7166 non-null   object
 10  annee_production  7166 non-null   object
 11  nombre_article    7166 non-null   object
 12  description       6445 non-null   object
 13  film_id_allocine  7166 non-null   int64
 14  image             7166 non-null   object
 15  boxoffice         7166 non-null   float64
dtypes: float64(2), int64(1), object(13)
memory usage: 951.7+ KB

In [78]:
default_date = pd.to_datetime('1970-01-01')
merged_dataset['date'] = merged_dataset['date'].apply(lambda x: default_date if x is None else x)

In [79]:
merged_dataset['annee_production'] = merged_dataset['annee_production'].astype(int)
merged_dataset['film_id_allocine'] = merged_dataset['film_id_allocine'].astype(int)
merged_dataset['boxoffice'] = merged_dataset['boxoffice'].astype(int)

In [80]:
import re
incorrect_dates = merged_dataset[~merged_dataset['date'].str.match(r'\d{2}/\d{2}/\d{4}')]
incorrect_dates

,titre,date,genre,duree,realisateur,distributeur,acteurs,nationalites,langue_d_origine,type_film,annee_production,nombre_article,description,film_id_allocine,image,boxoffice
5518,Easter Sunday,None,Comédie_Famille,96.0,Jay Chandrasekhar,Universal Pictures International France,"Jo Koy,Tiffany Haddish,Lydia Gaston",U.S.A.,Anglais,Long-métrage,2022,1,Basé sur les expériences de vie de la star du ...,291995,https://fr.web.img2.acsta.net/c_310_420/pictur...,5250000

In [81]:
merged_dataset = merged_dataset[merged_dataset['date'].str.match(r'\d{2}/\d{2}/\d{4}')]

merged_dataset['date'] = pd.to_datetime(merged_dataset['date'], format='%d/%m/%Y')

merged_dataset = merged_dataset.sort_values(by='date')

date_de_separation = pd.to_datetime('2023-07-01')  # Remplacez cette date par celle que vous souhaitez

# Diviser le dataset en deux parties
dataset_model = merged_dataset[merged_dataset['date'] < date_de_separation]
dataset_history_django = merged_dataset[merged_dataset['date'] > date_de_separation]

dataset_model['date'] = dataset_model['date'].replace(default_date, pd.NA)

/tmp/ipykernel_115790/3143259735.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_model['date'] = dataset_model['date'].replace(default_date, pd.NA)

In [82]:
dataset_history_django.head(10)

,titre,date,genre,duree,realisateur,distributeur,acteurs,nationalites,langue_d_origine,type_film,annee_production,nombre_article,description,film_id_allocine,image,boxoffice
12,Une nuit,2023-07-05,Drame_Romance,90.0,Alex Lutz,StudioCanal,"Alex Lutz,Karin Viard,Jérôme Pouly",France,Français,Long-métrage,2023,21,NaN,305883,https://fr.web.img6.acsta.net/c_310_420/pictur...,58679
254,Yo Mama,2023-07-05,Comédie,97.0,Leïla Sy,Gaumont Distribution,"Claudia Tagbo, Zaho,Sophie-Marie Larrouy",France,Français,Long-métrage,2023,7,Affolées par le clip de rap de leurs fils de 1...,304854,https://fr.web.img3.acsta.net/c_310_420/pictur...,78717
3,Insidious: The Red Door,2023-07-05,Epouvante-horreur_Fantastique,108.0,Patrick Wilson,Sony Pictures Releasing France,"Patrick Wilson,Rose Byrne,Ty Simpkins",U.S.A.,Anglais,Long-métrage,2023,8,Afin de se débarrasser définitivement de leurs...,287593,https://fr.web.img6.acsta.net/c_310_420/pictur...,306107
118,Tout Le Monde M'appelle Mike,2023-07-05,Thriller,89.0,Guillaume Bonnier,À Vif Cinémas / The Dark,"Abdirisak Mohamed,Daphne Patakia,Pierre Lottin",France,"Français, Arabe, Somalien",Long-métrage,2023,13,"Jean, Isabelle et son fils Damien ont tout qui...",275141,https://fr.web.img3.acsta.net/c_310_420/pictur...,397
249,Master Gardener,2023-07-05,Drame_Thriller,110.0,Paul Schrader,The Jokers / Les Bookmakers,"Joel Edgerton,Sigourney Weaver,Quintessa Swindell",U.S.A.,Anglais,Long-métrage,2022,27,Narvel est un horticulteur dévoué aux jardins ...,296091,https://fr.web.img2.acsta.net/c_310_420/pictur...,20443
484,Marinaleda,2023-07-05,Comédie_Fantastique,51.0,Louis Seguin,Hippocampe Productions,"François Rivière (II),Luc Chessel,Pauline Belle",France,Français,Long-métrage,2022,4,Juillet. Sastefanus et Kyrie font du stop sur ...,316039,https://fr.web.img6.acsta.net/c_310_420/pictur...,209
6,Miraculous - le film,2023-07-05,Action_Animation_Aventure_Comédie musicale,99.0,Jeremy Zag,SND,"Anouck Hautbois,Benjamin Bollen,Antoine Tomé",France,Français,Long-métrage,2023,415,"La super-héroïne, qui a conquis le cœur de mil...",273995,https://fr.web.img3.acsta.net/c_310_420/pictur...,660421
185,Luise,2023-07-05,Drame_Historique_Romance,99.0,Matthias Luthardt,Pyramide Distribution,"Luise Aschenbrenner,Christa Théret,Leonard Kunz",France,"Français, Allemand",Long-métrage,2023,6,Octobre 1918. La Première Guerre mondiale s’ét...,262386,https://fr.web.img2.acsta.net/c_310_420/pictur...,1215
219,À contretemps,2023-07-05,Thriller,103.0,Juan Diego Botto,Condor Distribution,"Penélope Cruz,Luis Tosar,Christian Checa",Espagne,Espagnol,Long-métrage,2022,17,"Avocat aux fortes convictions sociales, Rafa a...",285101,https://fr.web.img6.acsta.net/c_310_420/pictur...,28720
238,Joy Ride,2023-07-05,Comédie,92.0,Adele Lim,Metropolitan FilmExport,"Stephanie Hsu,Ashley Park,Sherry Cola",U.S.A.,Anglais,Long-métrage,2023,19,"Audrey demande à son amie d’enfance Lolo, à so...",294620,https://fr.web.img6.acsta.net/c_310_420/pictur...,9258

In [83]:
dataset_model.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7114 entries, 5745 to 229
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             7114 non-null   object
 1   date              7114 non-null   datetime64[ns]
 2   genre             7114 non-null   object
 3   duree             7098 non-null   float64
 4   realisateur       7114 non-null   object
 5   distributeur      7114 non-null   object
 6   acteurs           7020 non-null   object
 7   nationalites      7114 non-null   object
 8   langue_d_origine  7114 non-null   object
 9   type_film         7114 non-null   object
 10  annee_production  7114 non-null   int64
 11  nombre_article    7114 non-null   object
 12  description       6397 non-null   object
 13  film_id_allocine  7114 non-null   int64
 14  image             7114 non-null   object
 15  boxoffice         7114 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(11)
memory usage: 944.8+ KB

In [84]:
dataset_history_django_boxoffice = dataset_history_django[['film_id_allocine', 'boxoffice']]
dataset_history_django_features = dataset_history_django.drop(columns=['boxoffice'])

In [85]:
def extract_first_language(langue_d_origine_str):
    languages = langue_d_origine_str.split(',')
    return languages[0].strip() if languages else None

# Appliquer la fonction sur la colonne "langue_d_origine" pour extraire la première langue d'origine
dataset_model['langue_d_origine'] = dataset_model['langue_d_origine'].apply(extract_first_language)

/tmp/ipykernel_115790/807846361.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_model['langue_d_origine'] = dataset_model['langue_d_origine'].apply(extract_first_language)

In [86]:
dataset_model.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7114 entries, 5745 to 229
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   titre             7114 non-null   object
 1   date              7114 non-null   datetime64[ns]
 2   genre             7114 non-null   object
 3   duree             7098 non-null   float64
 4   realisateur       7114 non-null   object
 5   distributeur      7114 non-null   object
 6   acteurs           7020 non-null   object
 7   nationalites      7114 non-null   object
 8   langue_d_origine  7114 non-null   object
 9   type_film         7114 non-null   object
 10  annee_production  7114 non-null   int64
 11  nombre_article    7114 non-null   object
 12  description       6397 non-null   object
 13  film_id_allocine  7114 non-null   int64
 14  image             7114 non-null   object
 15  boxoffice         7114 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(11)
memory usage: 944.8+ KB

In [87]:
dataset_history_django_features['genre'] = dataset_history_django_features['genre'].apply(lambda x: x.split('_')[0])

In [88]:

from datetime import  datetime # Obtenir la date d'aujourd'hui
today = pd.Timestamp(datetime.now().date())

# Filtrer les lignes avec une date antérieure ou égale à aujourd'hui
dataset_history_django_features = dataset_history_django_features[dataset_history_django_features['date'] <= today]

## Exporter le dataset en csv

In [89]:
dataset_model.to_csv('../MACHINE_LEARNING/nettoyage/data/dataset_model_bronze.csv', index=False)

In [90]:
dataset_history_django_boxoffice.to_csv('dataset_history_django_boxoffice.csv', index=False)
dataset_history_django_features.to_csv('dataset_history_django_features.csv', index=False)